-
	menu = [
		{	
			"title": "Каталог",
			"link": "#",
		},
		{	
			"title": "Оплата и доставка",
			"link": "#",
		},
		{	
			"title": "Новости",
			"link": "#",
		},
		{	
			"title": "Услуги",
			"link": "#",
		},
		{	
			"title": "Контакты",
			"link": "#",
		},
		{	
			"title": "Блог",
			"link": "#",
		},
	],
	menuCatalog = [
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
		{	
			"title": "Заголовок раздела в две строки",
			"link": "catalog.html",
		},
	],
	tender = [
		{
			"title": "АКЦИЯ!",
			"text": "Скидка на студийный свет до 30%",
			"img": "1",
			"key": "sale",
		},
		{
			"title": "Спецпредложение",
			"text": "Объективы со скидкой в августе",
			"img": "2",
			"key": "special",
		},
		{
			"title": "Все для звука",
			"text": "Аудиоаппаратура по сниженным ценам 2022 года",
			"img": "3",
			"key": "sound",
		},
		{
			"title": "АКЦИЯ!",
			"text": "Скидка на студийный свет до 30%",
			"img": "1",
			"key": "sale",
		},
		{
			"title": "Спецпредложение",
			"text": "Объективы со скидкой в августе",
			"img": "2",
			"key": "special",
		},
		{
			"title": "Все для звука",
			"text": "Аудиоаппаратура по сниженным ценам 2022 года",
			"img": "3",
			"key": "sound",
		},
		{
			"title": "АКЦИЯ!",
			"text": "Скидка на студийный свет до 30%",
			"img": "1",
			"key": "sale",
		},
		{
			"title": "Спецпредложение",
			"text": "Объективы со скидкой в августе",
			"img": "2",
			"key": "special",
		},
		{
			"title": "Все для звука",
			"text": "Аудиоаппаратура по сниженным ценам 2022 года",
			"img": "3",
			"key": "sound",
		},
	],
	products = [
		{
			"img": "1",
			"badge": "-10%",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "4",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "2",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "5",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "3",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "4",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "4",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "4",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "1",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "4",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "2",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "5",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
		{
			"img": "3",
			"article": "Арт. 47589690",
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"rating": "4",
			"status": "В наличии",
			"notice": "до конца распродажи 2 дня",
			"sale": "-60%",
			"old_price": "2650",
			"price": "2650",
			"descr": "Fotokvant B-3W - система подъема 3 фонов. Система крепится к стене или к потолку. В начале необходимо установить специальные кронштейны (2 шт.) на расстоянии ширины тубуса бумажного фона плюс 7–10 см. Затем в специальные пазы кронштейнов установить пластмассовые крепежи-распорки (6 шт.), которые необходимо после этого установить в тубус бумажного фона."
		},
	],
	advantages = [
		{
			"title": "ПОИСК И ПОДБОР ОБОРУДОВАНИЯ ДЛЯ ВАШИХ ЗАДАЧ ПО СЪЕМКЕ",
			"img": "icon-1",
		},
		{
			"title": "ОБОРУДОВАНИЕ НА ЛЮБОЙ БЮДЖЕТ",
			"img": "icon-2",
		},
		{
			"title": "ГАРАНТИЯ РАБОТЫ ПОДОБРАННОГО ОБОРУДОВАНИЯ",
			"img": "icon-3",
		},
		{
			"title": "ПОДКЛЮЧЕНИЕ И УСТАНОВКА ВЫБРАННОГО ОБОРУДОВАНИЯ",
			"img": "icon-4",
		},
		{
			"title": "ПРОФИЛЬНЫЕ СПЕЦИАЛИСТЫ ПО ОСНОВНЫМ НАПРАВЛЕНИЯМ",
			"img": "icon-5",
		},
		{
			"title": "200+ СОБРАННЫХ АРЕНДНЫХ СТУДИЙ",
			"img": "icon-6",
		},
		{
			"title": "ПОИСК И ПОДБОР ОБОРУДОВАНИЯ ДЛЯ ВАШИХ ЗАДАЧ ПО СЪЕМКЕ",
			"img": "icon-1",
		},
		{
			"title": "ОБОРУДОВАНИЕ НА ЛЮБОЙ БЮДЖЕТ",
			"img": "icon-2",
		},
		{
			"title": "ГАРАНТИЯ РАБОТЫ ПОДОБРАННОГО ОБОРУДОВАНИЯ",
			"img": "icon-3",
		},
		{
			"title": "ПОДКЛЮЧЕНИЕ И УСТАНОВКА ВЫБРАННОГО ОБОРУДОВАНИЯ",
			"img": "icon-4",
		},
		{
			"title": "ПРОФИЛЬНЫЕ СПЕЦИАЛИСТЫ ПО ОСНОВНЫМ НАПРАВЛЕНИЯМ",
			"img": "icon-5",
		},
		{
			"title": "200+ СОБРАННЫХ АРЕНДНЫХ СТУДИЙ",
			"img": "icon-6",
		},
	],
	partners = [
		{
			"name": "rekam",
		},
		{
			"name": "nikon",
		},
		{
			"name": "canon",
		},
		{
			"name": "sony",
		},
		{
			"name": "olimpus",
		},
		{
			"name": "jinbel",
		},
				{
			"name": "rekam",
		},
		{
			"name": "nikon",
		},
		{
			"name": "canon",
		},
		{
			"name": "sony",
		},
		{
			"name": "olimpus",
		},
		{
			"name": "jinbel",
		},
	];
	videoBlock = [
		{
			"img": "1",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
		{
			"img": "2",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
		{
			"img": "3",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
		{
			"img": "1",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
		{
			"img": "2",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
		{
			"img": "3",
			"text": "КАДРИРОВАНИЕ ПРИ СЪЕМКЕ ПОРТРЕТОВ КРУПНЫМ ПЛАНОМ",
			"message": "1250",
			"views": "18",
		},
	],
	mainCard = {
		"slider": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
						{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "3",
			}
		],
		"specificationsList": [
			{
				"title": "Вспышка Godox MS300V",
				"list": [
					"Максимальная мощность 300 Дж (Вт с)",
					"Ведущее число 53 (ISO 100, на расстоянии метр) (с рефлектором)",
					"Цветовая температура 5800K±200K",
					"Регулировка мощности вспышки OFF, 1/32~1/1",
					"Длительность импульса 1/2000~1/800 с)",
					"Моделирующая лампа LED 10 Вт",
					"Режимы пилотной лампы Пропорциональный/независимый/выкл.",
					"Регулировка моделирующей лампы 5%~100% (шагом 5%)",
					"Звуковая индикация Есть",
					"Дисплей ЖК-панель 41х22 мм",
					"Способ срабатывания Синхрокабель, кнопка ТЕСТ, оптический сенсор, порт беспроводного управления",
					"Количество групп 2.4G 16 (0-9, A-F)",
					"Количество каналов 2.4G 1~32",
					"Дальность действия (приблиз.) 30м",
					"Выходные параметры синхроразъема 5 В",
					"Выходные параметры порта USB 5В/200мА (только для приемника Godox)",
					"Предохранитель F5AL 250V",
					"Время перезарядки 220В: 0.1~1.3с",
					"Рабочее напряжение 200-240 В~50/60 Гц",
					"Тип охлаждения встроенный вентилятор",
					"Крепление для зонта есть",
					"Материал корпуса пластик",
					"Байонет Bowens",
					"Диаметр вспышки 12.6см",
					"Высота вспышки с ручкой 16.7 см",
					"Длина вспышки с защитным колпаком 28.3 см",
					"Вес вспышки≈1.3 кг",
				]
			},
			{
				"title": "Стойка Godox 304",
				"list": [
					"Максимальная рабочая высота 190 см",
					"Минимальная рабочая высота 85 см",
					"Максимальная нагрузка 6 кг",
					"Количество секций 3",
					"Амортизатор пружинная",
					"Диаметр ножек, мм 19",
					"Диаметр секций, мм 19/22/25",
					"Крепежный адаптер, дюйм 5/8 (винты 1/4)",
					"Материал алюминиевый сплав/пластик",
				]
			},
			{
				"title": "Софтбокс SB-BW 6090",
				"list": [
					"Размер софтбокса 60 х 90 см",
					"Цвет внутренней поверхности серебро",
					"Количество рассеивателей 2",
					"Материал спиц алюминий",
					"Вес софтбокса 1.37 кг",
				]
			},
			{
				"title": "Пульт-радиосинхронизатор Godox XT-16",
				"list": [
					"Каналы 16",
					"Число групп 6 (A, B, C, D, E, F)",
					"Дальность действия 100 м",
					"Радиочастота 2,4 ГГц",
					"Скорость синхронизации 1/250 Сек",
					"Тип батареи 2 х АА",
					"Размеры передатчика 97,6 x 49,9 x 37 мм",
					"Вес передатчика 60 г",
				]
			},
			{
				"title": "рефлектор Godox AD-R6 с байонетом Bowens",
				"list": [
					'Диаметр рефлектора 175 мм (7")',
					'Цвет внутренней поверхности серебро',
				]
			},
			{
				"title": "Фотозонт Godox UB-002",
				"list": [
					'Диаметр зонта 101cм',
					'Цвет внутренней поверхности серебро',
				]
			},
			{
				"title": "Сумка Godox CB-04",
				"list": [
					'Размер сумки 78x24x20 см',
					'Вес комплекта с сумкой до 16 кг',
				]
			},
		],
		"equipmentList": [
			"Студийные MS300V со светодиодным пилотным светом - 2",
			"стойки 304 - 2",
			"софтбокс SB-BW6090 - 2",
			"пульт-радиосинхронизатор 2,4 Ггц XT-16 - 1",
			"рефлектор Godox AD-R6 с байонетом Bowens - 1",
			"Фотозонт Godox UB-002 - 1",
			"Сумка Godox CB-04 - 1",
		],
		"reviews": [
			{
				"userName": "Анонимный пользователь",
				"rating": "4",
				"text": "Часы понравились,очень красивые и хорошо впишутся в любой интерьер, инструкция на английском,но настроить очень просто,не прибегая к переводу на русский язык,все понятно и доступно, яркость пять уровней, встроенный аккумулятор, температура, влажность и день недели.Часами доволен,быстрая доставка,хотя заказывал через почту,доставили за четыре дня,упаковано качественно,товар соответствует описанию,рекомендую,часы на 100%!!!!!!!!",
			},
			{
				"userName": "Анонимный пользователь",
				"rating": "4",
				"text": "Часы понравились,очень красивые и хорошо впишутся в любой интерьер, инструкция на английском,но настроить очень просто,не прибегая к переводу на русский язык,все понятно и доступно, яркость пять уровней, встроенный аккумулятор, температура, влажность и день недели.Часами доволен,быстрая доставка,хотя заказывал через почту,доставили за четыре дня,упаковано качественно,товар соответствует описанию,рекомендую,часы на 100%!!!!!!!!",
			},
			{
				"userName": "Анонимный пользователь",
				"rating": "4",
				"text": "Часы понравились,очень красивые и хорошо впишутся в любой интерьер, инструкция на английском,но настроить очень просто,не прибегая к переводу на русский язык,все понятно и доступно, яркость пять уровней, встроенный аккумулятор, температура, влажность и день недели.Часами доволен,быстрая доставка,хотя заказывал через почту,доставили за четыре дня,упаковано качественно,товар соответствует описанию,рекомендую,часы на 100%!!!!!!!!",
			},
		]
	},
	articles = [
		{
			"title": "Комплект серии AXIO представляет собой готовое решение",
			"text": "Комплект серии AXIO представляет собой готовое решение для домашней или профессиональной фотостудии. В комплект входят три моноблока Raylab Axio III RX-300, мощностью 300Дж каждый, два стандартных 7-дюймовых рефлектора, три стойки Стойка Raylab LS003 2,6м с воздушной амортизацией, два прямоугольных софтбокса Raylab SPG6090 с сотами, 1 шторки с набором светофильтров для стандартного 7-дюймового рефлектора, трансмиттер радиосинхронизации и удобная прочная сумка для хранения и транспортировки.",
		},
		{
			"title": "Комплект серии AXIO представляет собой готовое решение",
			"text": "Комплект серии AXIO представляет собой готовое решение для домашней или профессиональной фотостудии. В комплект входят три моноблока Raylab Axio III RX-300, мощностью 300Дж каждый, два стандартных 7-дюймовых рефлектора, три стойки Стойка Raylab LS003 2,6м с воздушной амортизацией, два прямоугольных софтбокса Raylab SPG6090 с сотами, 1 шторки с набором светофильтров для стандартного 7-дюймового рефлектора, трансмиттер радиосинхронизации и удобная прочная сумка для хранения и транспортировки.",
		},
		{
			"title": "Комплект серии AXIO представляет собой готовое решение",
			"text": "Комплект серии AXIO представляет собой готовое решение для домашней или профессиональной фотостудии. В комплект входят три моноблока Raylab Axio III RX-300, мощностью 300Дж каждый, два стандартных 7-дюймовых рефлектора, три стойки Стойка Raylab LS003 2,6м с воздушной амортизацией, два прямоугольных софтбокса Raylab SPG6090 с сотами, 1 шторки с набором светофильтров для стандартного 7-дюймового рефлектора, трансмиттер радиосинхронизации и удобная прочная сумка для хранения и транспортировки.",
		},
	],
	partions = [
		"Студийный свет",
		"Системы крепления и монтажа",
		"Штативы и моноподы",
		"Сетевые модификаторы",
		"Фоны",
		"Столы и фотобоксы",
		"Студийный свет",
		"Системы крепления и монтажа",
		"Штативы и моноподы",
		"Сетевые модификаторы",
		"Фоны",
		"Столы и фотобоксы",
	];