.custom-dropdown {
  width: 100%;
  position: relative;
  &.active {
    & .custom-dropdown__btn {
      &::after {
        transform: rotate(180deg);
      }
    }
    & .select-list {
      pointer-events: all;
      opacity: 1;
      top: calc(100% + 5px);
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
  }
  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 56px;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    border: 1.2px solid #b9b9b9;
    &::after {
      content: none;
    }
  }
  &.custom-dropdown-action {
    & .custom-dropdown__btn {
      padding: 0;
      min-height: auto;
      padding: 0;
      border: 0;
      width: auto;
      font-size: 0;
      display: block;
      width: 24px;
      height: 24px;
    }
  }
  &__btn {
    min-height: 56px;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    border: 1.2px solid #b9b9b9;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: $fontFamily;
    color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: border-color $time, background-color $time;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      background-color: #cf3c35;
      mask-image: url("../images/icons/arrow-down-red.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      pointer-events: none;
      transition: $time ease;
      margin-left: auto;
    }
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__btn-delete {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: transparent;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url("../images/icons/delete-left.svg");
      background-color: #b9b9b9;
    }
  }
}

.form-item {
  & .custom-dropdown {
    & input {
      padding: 0;
      border: 0;
      margin: 0;
      min-height: auto;
    }
  }
}

.select-list {
  @include reset-list;
  position: absolute;
  z-index: 5;
  top: calc(100% + 20px);
  width: 100%;
  list-style: none;
  background-color: transparent;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  padding: 5px 0px;
  pointer-events: none;
  opacity: 0;
  transition: top $time ease, opacity $time ease;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 5px;
    background-color: $mainColor;
  }
  &__item {
    min-height: 40px;
    text-align: left;
    padding: 9px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: $mainColor;
    background-color: transparent;
    transition: background-color $time ease;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
