// MAIN-SCREEN
.main-screen {
  padding: 24px 0 16px;
  @media screen and (max-width: $md) {
    padding: 10px 0 8px;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & img {
      @extend .main-screen__image;
    }
  }
  &__content {
    padding: 33px 64px 28px;
    min-height: 290px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 15px;
    overflow: hidden;
    @media screen and (max-width: $lg) {
      background-size: auto 100%;
      padding: 38px 13px 15px;
      min-height: 200px;
    }
  }
  &__info {
    color: $whiteColor;
    max-width: 560px;
    font-family: "Rubik", sans-serif;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $lg) {
      max-width: 100%;
    }
  }
  &__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 7px;
    @media screen and (max-width: $md) {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 3px;
    }
  }
  &__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    @media screen and (max-width: $md) {
      font-size: 26px;
    }
  }
}
// OFFERS
.offers {
  padding: 16px 0;
  @media screen and (max-width: $md) {
    padding: 8px 0 10px;
  }
  & .container {
    @media screen and (max-width: $lg) {
      padding: 0 0 0 11px;
    }
  }
  &__wrapper {
    overflow: hidden;
    padding: 7px;
    margin: -7px;
  }
  &__body {
    display: flex;
    flex-flow: row nowrap;
  }
  &__item {
    border-radius: 15px;
    padding: 11px;
    font-family: "Rubik", sans-serif;
    min-height: 223px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto auto;
    transition: box-shadow 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    @media screen and (max-width: $md) {
      min-height: 206px;
      padding: 10px;
    }
    &_sale {
      background-color: #f6c994;
      color: #cfa26c;
      @media screen and (max-width: $md) {
        background-size: 169px 150px;
      }
    }
    &_special {
      background-color: #a4cc72;
      color: #659d5c;
      @media screen and (max-width: $md) {
        background-size: 130px 120px;
      }
    }
    &_sound {
      background-color: #b798c6;
      color: #9d73b1;
      background-position: 50% 88%;
      @media screen and (max-width: $md) {
        background-size: 100px 120px;
      }
    }
  }
  &__pagination {
    margin-top: 22px;
    @media screen and (max-width: $md) {
      margin-top: 18px;
    }
  }
}
.item-offer {
  &__header {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $md) {
      font-size: 15px;
    }
    @media screen and (max-width: $sm) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__text {
    color: $whiteColor;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $md) {
      font-size: 17px;
    }
  }
}
// PARTIONS
.partions {
  padding: 16px 0 25px;
  @media screen and (max-width: $md) {
    padding: 10px 0 10px;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 13px 12px;
    @media screen and (max-width: $xxl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 14px 16px;
      &.show {
        & .item-partion:nth-child(n + 9) {
          display: flex;
        }
      }
    }
    @media screen and (max-width: 389.98px) {
      gap: 10px;
    }
  }
  &__footer {
    margin: 16px auto 0;
    text-align: center;
    display: none;
    @media screen and (max-width: $md) {
      display: block;
    }
  }
  &__btn {
  }
}
.item-partion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  background: $whiteColor;
  padding: 13px 13px 9px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  @media screen and (max-width: $md) {
    padding: 10px 10px 7px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
    font-size: 12px;
  }
  @media screen and (max-width: $md) {
    &:nth-child(n + 9) {
      display: none;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      & .item-partion__title {
        color: #cf3c35;
      }
    }
  }
  &__image {
    width: 116px;
    height: 106px;
    margin-bottom: 18px;
    @media screen and (max-width: $md) {
      width: 90px;
      height: 80px;
      margin-bottom: 16px;
    }
    & img {
      max-height: 100%;
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  &__title {
    color: $blackColor;
    transition: color 0.2s ease-in 0s;
    @media screen and (max-width: $md) {
      line-height: 120%;
    }
  }
}
// SALES
.sales {
  padding: 25px 0;
  @media screen and (max-width: $md) {
    padding: 10px 0 12px;
  }
  &__heading {
    margin-bottom: 40px;
    @media screen and (max-width: $md) {
      max-width: 190px;
      margin: 0 auto 16px;
    }
  }
}
// BANNER
.banner {
  padding: 25px 0;
  @media screen and (max-width: $md) {
    padding: 15px 0;
  }
  &__image {
    position: absolute;
    bottom: 0;
    & picture {
      display: block;
      line-height: 0;
    }
    &_left {
      left: 0;
      @media screen and (max-width: $xxl) {
        top: 0;
        bottom: auto;
      }
    }
    &_right {
      right: 0;
    }
  }
  &__wrapper {
    display: block;
    padding: 44px 312px 44px 325px;
    background-image: url("../images/banner/banner-decor.svg");
    background-position: 50% 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    border-radius: 16px;
    overflow: hidden;
    min-height: 290px;
    position: relative;
    background-color: #fad36e;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $xxl) {
      padding: 44px 100px;
    }
    @media screen and (max-width: $lg) {
      padding: 100px 16px 8px;
      min-height: 200px;
    }
  }
  &__info {
    max-width: 705px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $lg) {
      max-width: 100%;
    }
  }
  &__label {
    color: #d1a83e;
    font-size: 43px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 12px;
    @media screen and (max-width: $lg) {
      font-size: 30px;
      margin-bottom: 8px;
    }
    @media screen and (max-width: $md) {
      font-size: 20px;
    }
  }
  &__text {
    color: #fff;
    text-shadow: 0px 8.65px 21.6px rgba(0, 0, 0, 0.08);
    font-size: 65px;
    font-weight: 900;
    line-height: 100%;
    margin-top: auto;
    @media screen and (max-width: $lg) {
      font-size: 40px;
    }
    @media screen and (max-width: $md) {
      font-size: 29px;
    }
  }
}
// ADVANTAGES
.advantages {
  padding: 25px 0;
  @media screen and (max-width: $md) {
    padding: 10px 0 15px;
  }
  &__pagination {
    margin-top: 30px;
  }
  &__heading {
    margin-bottom: 30px;
    @media screen and (max-width: $md) {
      margin-bottom: 20px;
    }
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    @media screen and (max-width: $md) {
      font-size: 14px;
    }
    & p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    margin-bottom: 50px;
    @media screen and (max-width: $md) {
      margin-bottom: 42px;
    }
  }
  &__wrapper {
    padding: 0 20px;
    margin: 0 -20px;
    @media screen and (max-width: $md) {
      padding: 0 10px;
      margin: 0 -10px;
    }
  }
  &__body {
    @media screen and (max-width: $md) {
      row-gap: 60px;
    }
  }
  &__item {
    flex-shrink: 0;
  }
  &__controls {
    & .slider-button {
      top: 10px;
      transform: none;
    }
  }
}
.item-advantages {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 30px 0;
  @media screen and (max-width: $md) {
    gap: 24px 0;
  }
  &__icon {
    width: 57px;
    height: 57px;
    flex: 0 0 57px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &::before {
      content: url(attr(data-icon));
      display: block;
    }
  }
  &__content {
    @media screen and (max-width: $md) {
      min-height: 42px;
      display: grid;
      align-items: center;
    }
  }
  &__text {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    @media screen and (max-width: $md) {
      font-size: 12px;
    }
  }
}

// PARTNERS
.partners {
  padding: 25px 0;
  &__heading {
    text-align: center;
    & .heading__title::before {
      left: 50%;
      transform: translate(-50%);
    }
  }
  @media screen and (max-width: $md) {
    padding: 15px 0 20px;
  }
  &__pagination {
    margin-top: 46px;
    @media screen and (max-width: $md) {
      margin-top: 37px;
    }
  }
  &__heading {
    margin-bottom: 47px;
    @media screen and (max-width: $md) {
      margin-bottom: 37px;
    }
  }
  &__wrapper {
    padding: 0 20px;
    margin: 0 -20px;
    @media screen and (max-width: $md) {
      padding: 0;
      margin: 0 auto;
    }
  }
}
.item-partner {
  &__image {
    min-height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $md) {
      min-height: 35px;
    }
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
// VIDEO-BLOCK
.video-block {
  padding: 25px 0;
  @media screen and (max-width: $md) {
    padding: 20px 0 15px;
  }
  &__pagination {
    margin-top: 30px;
  }
  &__wrapper {
    padding: 20px;
    margin: -20px;
  }

  &__body {
  }

  &__item {
  }
}
.item-video {
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 25.5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  @media screen and (max-width: $md) {
    width: 326px;
    border-radius: 8px;
    box-shadow: none;
    transition: box-shadow 0.2s ease 0s;
    &.swiper-slide-active {
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    }
  }
  &.hidden {
    opacity: 0;
    box-shadow: none;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 102px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    z-index: 2;
    pointer-events: none;
  }
  &__image {
    position: relative;
    padding-bottom: math.div(313, 450) * 100%;
    border-radius: 10px;
    min-height: 226px;
    overflow: hidden;
    & img,
    & video,
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 21px 25px;
    color: $whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    z-index: 3;
    pointer-events: none;
    @media screen and (max-width: $md) {
      padding: 15px 21px 15px 18px;
    }
  }
  &__description {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 110%;
    max-width: 230px;
    @media screen and (max-width: $md) {
      font-size: 12px;
      max-width: 170px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 14px;
    @media screen and (max-width: $md) {
      gap: 17px;
    }
  }
  &__play {
    @media screen and (max-width: $md) {
      width: 46px;
      height: 46px;
      filter: drop-shadow(0px 0px 18.5px rgba(0, 0, 0, 0.5));
      &::before {
        width: 46px;
        height: 46px;
        mask-size: 46px 46px;
      }
    }
  }
}
.video {
}
.info-video {
  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
    @media screen and (max-width: $md) {
      gap: 4px;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #cf3c35;
      @media screen and (max-width: $md) {
        width: 14px;
        height: 14px;
        mask-size: 12px 12px;
      }
    }
    font-size: 12px;
    @media screen and (max-width: $md) {
      font-size: 9px;
    }
  }
  &__message {
    &::before {
      mask-image: url("../images/icons/chat.svg");
    }
  }
  &__views {
    &::before {
      mask-image: url("../images/icons/views.svg");
    }
  }
}
// BANNER-TELEGRAM
.banner-telegram {
  padding: 25px 0;
  @media screen and (max-width: $md) {
    padding: 15px 0 20px;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & img {
      @extend .banner-telegram__image;
    }
  }
  &__body {
    position: relative;
    background-color: $whiteColor;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 67px 92px 24px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    row-gap: 20px;
    @media screen and (max-width: $lg) {
      padding: 11px 33px 16px;
      min-height: 245px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
    }
  }
  &__text {
    color: $whiteColor;
    text-shadow: 0px 8.65px 21.63px #3784bb;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $lg) {
      font-size: 40px;
    }
    @media screen and (max-width: $md) {
      font-size: 30px;
    }
  }
}
