@import "../components/dropdown.scss";
@import "../libs/vanilla-calendar.min.scss";

.vanilla-calendar {
  @media screen and (max-width: $lg) {
    width: calc(100% - 22px);
  }
}

.questionary {
  &__form {
  }
}
.form-questionary {
  &__groups {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    align-content: start;
    gap: 24px;
    @media screen and (max-width: $md) {
      gap: 20px;
    }
  }
  &__group {
    position: relative;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
    gap: 24px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #d9d9d9;
    }
    @media screen and (max-width: $md) {
      gap: 20px;
    }
    &.main-info-group,
    &.person-group {
      & .form-item {
        grid-column: span 3;
        @media screen and (max-width: $md) {
          grid-column: 1 / -1;
        }
        &-dates {
          grid-column: 1 / -1;
        }
        &:last-child {
          grid-column: 1 / -1;
        }
      }
    }
    &.clients-group {
      & .form-item {
        grid-column: span 3;
        @media screen and (max-width: $md) {
          grid-column: 1 / -1;
        }
      }
    }
    &.additionally-group {
      & .form-item {
        &:nth-child(2),
        &:nth-child(3) {
          grid-column: span 3;
          @media screen and (max-width: $md) {
            grid-column: 1 / -1;
          }
        }
        &:last-child {
          grid-column: 1 / -1;
          @media screen and (max-width: $xxl) {
            grid-column: span 3;
          }
          @media screen and (max-width: $md) {
            grid-column: 1 / -1;
          }
        }
      }
    }
    & .content {
      grid-column: 1 / -1;
    }
  }
  &__heading {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 20px;
    font-family: $secondFamily;
    display: flex;
    align-items: flex-end;
    gap: 10px 13px;
    flex-wrap: wrap;
  }
  &__heading-action {
    font-weight: 400;
    font-size: 12px;
    color: #cf3c35;
    background-color: transparent;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: span 2;
  @media screen and (max-width: $xxl) {
    grid-column: span 3;
  }
  @media screen and (max-width: $md) {
    grid-column: 1 / -1;
  }
  &-dates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 24px;
    grid-column: 1 / -1;
    @media screen and (max-width: $xxl) {
      grid-column: 1 / -1;
      grid-template-columns: 100%;
      & .form-field + .form-field {
        margin-top: 16px;
      }
    }
    @media screen and (max-width: $md) {
      & .form-field + .form-field {
        margin-top: 12px;
      }
    }
    & input {
      @media (any-hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__caption {
    grid-column: 1 / -1;
    font-size: 14px;
    line-height: 120%;
  }
  & input {
    min-height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    padding-right: 50px;
    border-radius: 6px;
    background-color: #fff;
    border: 1.2px solid #b9b9b9;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: $fontFamily;
    color: $mainColor;
    &::placeholder {
      font-size: 16px;
      line-height: 120%;
      font-family: $fontFamily;
      color: #b9b9b9;
      transition: opacity $time;
    }
    &:focus-visible {
      &::placeholder {
        opacity: 0;
      }
    }
  }
}
.form-field {
  position: relative;
}
.form-field-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../images/icons/arrow-down-red.svg");
    background-color: #cf3c35;
  }
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}
.drop-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  grid-column: 1 / -1;
  @media screen and (max-width: $md) {
    grid-template-columns: 100%;
  }
}
.drop-box {
  height: 233px;
  width: 100%;
  position: relative;
  border: 1px dashed #b9b9b9;
  display: grid;
  place-items: center;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  background: #e7e7e7;
  border-radius: 7px;
  color: $mainColor;
  gap: 9px;
  padding: 38px;
  &.active {
    background-color: rgba(#e7e7e7, 0.2);
    & .form-container {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__icon {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url("../images/icons/camera.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__text {
    max-width: 258px;
    & .red {
      color: #cf3c35;
    }
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  gap: 9px;
}

.form-file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.files-list-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 10px;
  &__text {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__button {
    width: 24px;
    height: 24px;
    display: block;
    background-color: transparent;
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      mask-image: url("../images/icons/close.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #cf3c35;
      mask-size: 16px 16px;
    }
  }
}
