extends includes/layout.pug

append variables
	- let pageTitle = "Как заказать оборудование";
	- description += pageTitle;
block content
		include ./components/main-screen
		.main__body 
			.container
				.main__inner
					include ./components/main-aside
					.main-content 
						.heading
							h2.heading__title Аренда студийного оборудования
						.content 
							p У нас вы можете взять любое оборудование, необходимое для съемки. На оборудовании Фотогора снимают совершенно разные проекты: фото, видео и кино форматы, художественные и документальные, спорт и мода, путешествия и многое другое.
							p Мы даём наилучшие инструменты для визуального контента и работаем с клиентами, которые разделяют наши ценности, и бережно относятся к нашему оборудованию.
							p Большой выбор оборудования начиная от винтов, до камер. Нужно просто оформить заказ, забрать и начать пользоваться.
							h3 Перед тем как сделать заказ:
							ol 
								li Ознакомьтесь с нашими #[a(href="/") правилами аренды]
								li Заполните #[a(href="questionary.html") анкету.]
								li Дождитесь одобрения арендного лимита.
							p Постарайтесь как можно максимально заполнить анкету, так как она влияет на какую сумму Вы можете взять оборудование без гарантийного покрытия.
							p Пока вы планируете просмотреть свои анкеты, можете погулять по разделам сайта и заранее выбрать то, что вам нужно для съемки.
							p Так же Вы всегда можете позвонить по телефону #[a(href="tel:88007752494") 8 (800) 775-24-94] (бесплатный) и получить подробную консультацию от нашей команды профессионалов.
							p Так же вы можете подъехать к нам по адресу #[span.red г. Москва, 107023, ул. Электрозаводская, 21, подъезд «И»], и визуально определиться с выбором оборудования.
						a(href="/").btn Далее
		include ./components/partners
		include ./components/video-block
		include ./components/banner-telegram