if pageTitle != "Главная"
	div.breadcrumbs
		.container
			nav.breadcrumbs__navigation
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a(href="/" class="breadcrumbs__link") Фотогора
					li.breadcrumbs__item
						a(href="/" class="breadcrumbs__link") Студийный свет
					li.breadcrumbs__item
						a(href="/" class="breadcrumbs__link") Комплекты импульсного света
					li.breadcrumbs__item.active Godox MS300V-D комплект студийного оборудования
