header.header#header
	.header__top.top-header
		.container
			.top-header__body
				.top-header__actions
					.top-header__catalog.catalog-header
						button.catalog-header__button#catalog-btn(data-spoller) Каталог
					.top-header__search.search-header
						form(action="#").search-header__form 
							input(type="text" placeholder="Поиск по сайту...").search-header__input
				.top-header__menu.menu-header
					nav.menu
						ul.menu__list
							each item, index in menu
								if index !== 0
									li.menu__item(class={active: item.title == "Оплата и доставка"})
										a.menu__link(href=item.link)= item.title
					button(type="button").menu-header__button
						span
					button(type="button").close-btn
	include ./header-catalog
	.header__main.main-header
		.container
			.main-header__body
				.main-header__info
					a(href="/").header__logo
						picture
							source(srcset="images/logo-pc.svg" media="(min-width: 1200px)")
							source(srcset="images/logo-mobile.svg" media="(min-width: 320px)")
							img(src="images/logo-pc.svg" alt="логотип")
					.main-header__contacts.contacts-header
						.contacts-header__item.contacts-header__item_city
							.contacts-header__option
								.contacts-header__label Ваш город:
								button(type="button").contacts-header__city Санкт-Петербург
							.contacts-header__inner 
								.contacts-header__phones 
									a(href="tel:+78122234630").contacts-header__phone +7 (812) 223-46-30
									a(href="tel:+78122234630").contacts-header__phone +7 (812) 223-46-30
								button(type="button").contacts-header__button Обратная связь
						.contacts-header__item.contacts-header__item_hours
							.contacts-header__label Время работы:
							.contacts-header__time пн-пт: #[time(datetime="10:30") 10:30]-#[time(datetime="21:00") 21:00] сб-вс: #[time(datetime="10:30") 10:30]-#[time(datetime="21:00") 21:00]
							.contacts-header__notice 1-2 января выходной
				.main-header__actions.actions-header
					.actions-header__item
						a(href="#").actions-header__link.actions-header__link_user
							.actions-header__top
								span.actions-header__icon
							| Вход
					.actions-header__item
						a(href="#").actions-header__link.actions-header__link_favorites
							.actions-header__top
								span.actions-header__icon
								span.actions-header__count 58
							| Избранное
					.actions-header__item
						a(href="#").actions-header__link.actions-header__link_cart
							.actions-header__top
								span.actions-header__icon
								span.actions-header__count 85
							| Корзина
