aside.main-aside
    nav.main-aside__navigation 
        ul.main-aside__list
            each item, index in mainAside
                li.main-aside__item 
                    a(href=item.href class={active: item.title === pageTitle}).main-aside__link= item.title